<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table Message</title>
</head>
<body>

    <table border="1">
        <tr>
            <th>Message</th>
            <th>aksi</th>
        </tr>
        {% for i in message %}
        <tr>
            <td>{{i}}</td>
            <td><a href="/delmessage/{{i}}">delete</a></td>
        </tr>
        {%endfor%}
    </table>
    
</body>
</html>