<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/sandy.css')}}">
  <title>Landing Page</title>
</head>

<body class="bg-light ">


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://unimal.ac.id/" target="_blank">Unimal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-capitalize">{{value.nama}}</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <br>

  <div class="container container-sm bg-white">
    <div class="row">
      <h1 class="bg-dark text-center text-white">Unimal Linux Enthusiast</h1>
      <div class="col">
        <img class="img-fluid" src="{{url_for('static',filename='content/keep_calm.jpeg')}}" alt="Not Found">
      </div>

      <div class="col">
        <div class="card " style="width: 18rem;">
          <img src="{{url_for('static',filename='content/Linus-Torvalds-2012.jpg')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Linus Torvalds</h5>
            <p class="card-text lead">A computer is like air conditioning - it becomes useless when you open Windows</p>
            <a href="https://linuxtorvalds.com/" class="btn btn-dark">Linus</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg" style="width: 18rem;">
          <img src="{{url_for('static',filename='content/richard.jpeg')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Richard Stallman</h5>
            <p class="card-text lead">I did write some code in Java once,but that was the island in Indonesia</p>
            <a href="https://stallman.org/" class="btn btn-dark">Stallman</a>
          </div>
        </div>
      </div>
    </div>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th class="text-center">Message</th>
        </tr>
      </thead>
      <tbody>
        {%for i in data%}
        <tr>
          <td class="text-center">{{i}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>









  <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>

</body>

</html>